services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile.bot.dev
    env_file: .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/.venv
    environment:
      - PYTHONPATH=/app
      - WATCHFILES_FORCE_POLLING=true
