# =============================================================================
# Shared/base (used across multiple services)
# =============================================================================
TZ="Europe/Moscow"
PROJECT_NAME="cukiller"
DEBUG="false"
LOGLEVEL="INFO"
SECRET_KEY="very_secret_key"
