# =============================================================================
# grafana (docker-compose)
# =============================================================================
GRAFANA_ADMIN_USER="admin"
GRAFANA_ADMIN_PASSWORD="admin"
