# =============================================================================
# matchmaking service
# =============================================================================
# PORT=8000
BOT_URL="http://bot:8000"
RELOAD_TIMEOUT="2.0"
MATCHMAKING_INTERVAL="5"
QUALITY_THRESHOLD="0.6"
MATCH_HISTORY_CHECK_DEPTH="3"
MIN_POSSIBLE_VICTIMS_COUNT="3"
MAX_RATING_DIFF="1000"
COURSE_COEFFICIENT="-0.3"
GROUP_COEFFICIENT="0.2"
TYPE_COEFFICIENT="-0.6"
TIME_COEFFICIENT="0.001"
