# =============================================================================
# stats-web (frontend)
# =============================================================================
VITE_BACKEND_URL="http://localhost"
VITE_BASE="/stats/"
BACKEND_URL="http://localhost"
