# =============================================================================
# stats-web (frontend)
# =============================================================================
VITE_BACKEND_URL="http://localhost:8000"
BACKEND_URL="http://stats:8000"
