# =============================================================================
# stats service
# =============================================================================
# PORT=8000
CORS_ALLOW_ORIGIN="*"
