name: Deploy
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /root/dev/cukiller
            source .venv/bin/activate
            set -o allexport && source .env
            ./scripts/upstream-preserve-compose.sh
            echo "./scripts/upstream-preserve-compose.sh done"
            export POSTGRES_HOST=localhost
            echo "POSTGRES_HOST=$POSTGRES_HOST"
            uv sync
            uv run -m aerich upgrade
